* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
}

.calculator-body {
   background-color: rgb(76, 82, 89);
   min-width: 400px;
   min-height: 550px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.calculator-display {
   /* background-color: rgb(154, 205, 51); */
   background-color: white;
   height: 65px;
   width: 365px;
   margin: 10px;
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 1px 5px;
}

#display-text {
   font-size: 2.75rem;
}

.calculator-button-container {
   margin: 5px;
   height: 300px;
   width: 360px;
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.button-row {
   display: flex;
   justify-content: space-around;
   gap: 12px;
}

button {
   height: 82px;
   width: 82px;
   font-size: 1.5rem;
   border-radius: 10px;
   color: white;
}

.number-btn,
#decimal-btn {
   background-color: rgb(90, 226, 253);
}

.operator-btn,
#clear-btn,
#del-btn,
#sign-change-btn,
#equal-btn {
   background-color: rgb(254, 166, 58);
}

#zero-btn {
   width: 180px;
}